body {
    font-family: Arial, sans-serif;
}
canvas {
    background: green;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    margin-top: 50px;
}

.score {
    margin-left: 20px;
    font-size: 40px;
}

button {
    padding: 20px;
    background: blue;
    width: 100px;
    color: white;
    border: 0;
    margin-bottom: 10px;
    cursor: pointer;
}
.options {
    background-color: grey;
}

td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

canvas {
    border: 10px solid black;

}
.canvas-no-border {
    border: 0;
    margin-left: 10px;
    margin-top: 10px;
}
